body {
    padding-top: 56px;
    padding-bottom: 50px;
}

.s-header {
    height: 568px;
    position: relative;
    width: 100%;
    background-size:cover;
    background: url("./img/bg-hero-desktop.png") center;
}